body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

main {
  padding: 0px 400px;
  background-color: white;
}
